.tshirt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
}
.tshirt__container > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-top: 20px;
}
.logo__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(245, 231, 231);
  margin-left: 50px;
  margin-right: 50px;
  flex-wrap: wrap;
  border-radius: 14px;
}
.logo__container > img {
  height: 180px;
  width: 180px;
  object-fit: contain;
  background-color: white;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.tshirt__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  margin-top: 20px;
}
.tshirt__form > input {
  width: 340px;
}
.tshirt__label {
  font-size: 24px;
  font-weight: bold;
}
.tshirt__text {
  height: 30px;
}
.tshirt__builder {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  width: 100%;
}
.tshirt__builder > img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 700;
  object-fit: contain;
}
.build__addtocart{
  background-color: black;
  color: white;
  height: 55px;
  border-radius: 8px;
}
.build__addtocart:hover{
  color:darkgray
}
.blackTshirt {
  position: relative;
}

.houseOnTshirt {
  position: absolute;
  top: 20%;
  left: 34%;
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.textOnTshirt {
  position: absolute;
  top: 55%;
  left: 34%;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
@media screen and (max-width: 480px) {
.tshirt__label{
  font-size: 18px;
}
.tshirt__container>h2{
  font-size: 18px;
}
  .build__tshirt{
  margin-top: -390px;
  margin-left: 45px;
  width: 300px;
  height: 300px;
}
.houseOnTshirt {
  top: -200px;
  left: 41%;
  height: 100px;
  width: 100px;
}
.textOnTshirt {
  top:-90px;
  left: 41%;
}
.logo__container>img{
  width: 90px;
  height: 90px;
}
.tshirt__form >input{
  width: 240px;
  border-radius: 2px solid black;
}
}
