.cart__container{
    margin: 5px;
    width: 97%;
}
.cart__title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
    margin-top: 30px;
    font-weight: 400;
}
.empty__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.empty__cart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 50px;
}
.empty__continueShopping{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    font-size: 50;
    width: 160px;
    height: 50px;
    border-radius: 4px;
    cursor: pointer;

}
.cart__elements{
    margin: 15px;
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    margin-top: 40px;
    width: 100%;
    
}
.cart__productName{
    display: flex;
    align-items: center;
    flex:4;
}
.cart__quantity{
    display: flex;
    flex: 3;
}
.cart__price{
display: flex;
flex:2;
}
.cart__total{
    display: flex;
    flex:3;;
    flex-direction: column;
}
.cart__items{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.cart__content{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
width: 100%;
}
.item__image1{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://images-na.ssl-images-amazon.com/images/I/91dSMhdIzTL.jpg");
}
.item__image2{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://upload.wikimedia.org/wikipedia/en/3/39/AClashOfKings.jpg");
}
.item__image3{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1353235205l/768889.jpg");
}
.item__image4{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1443806558l/13501.jpg");
}
.item__image5{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://awoiaf.westeros.org/images/a/a3/AFeastForCrows.jpg");
}
.item__image6{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://images-na.ssl-images-amazon.com/images/I/618RfZlGg5S.jpg");
}
.item__image7{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1397654538l/11350430.jpg");
}
.item__image8{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1581625286l/10664113._SX318_.jpg");
}
.item__image9{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1511221635l/36632543._SY475_.jpg");
}
.item__image10{
    width: 130px;
    height: 180px;
    margin: 5px;
    content: url("https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1404616147l/20168816.jpg");
}


.item__name{
    display: flex;
    align-items: center;
    flex:4;
}
.item__quantity{
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    flex: 3;

}
.item__price{
display: flex;
flex:2;
}
.item__total{
    display: flex;
    flex:3;;
    flex-direction: column;
}
.item__increase__decrease{
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 90px;
    height: 33px;
}
.item__increase__decrease > button{
    width:50px;
    height: 30px;
    background-color:white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}
.clear__cart{
    width: 150px;
    height: 40px;
    margin-left: 20px;
    background-origin: whitesmoke;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}
.cart__sumtotal{
display: block;
float: right;
border-radius: 5px;
background-color: white;
width: 230px;
height: 180px;
margin-right: 10px;
border: 1px solid #331C0E;
margin-bottom: 30px;
align-self: center;
justify-content:center;
}
.checkout__btn{
    width: 210px;
    height: 60px;
    background-color: #331C0E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    margin: 10px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}
.checkout__btn:hover{
    border: 1px solid black;
}
.continue__shopping{
    width: 210px;
    height: 60px;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.continue__shopping:hover{
    border: 1px solid black
}
.cart__sumtotal>h3{
    margin: 5px;
    display: flex;

}
